.notFount {
  background: url('../../assets//bg.png')no-repeat center center;
  height: 80vh;
  // opacity: 0.7;
  text-align: center;
  font-size: 50px;
  line-height: 80vh;
  p {
    color: #fff;
  }
}